body{
    background-image: url("https://i.pinimg.com/564x/c4/da/3e/c4da3e7816de185f128b7eeb3511bb35.jpg");
    background-size: 400px;
    background-repeat: repeat;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    margin: 2rem;
}

#title {
    max-width: 400px;
}

#imgContainer {
    height: 500px;
}

div {
    display: inline-block;
}

.pokedexImg {
    background-color: rgb(252, 76, 46, .75);
    border-radius: 20%;
    padding: 20px;
    margin: 2rem;
    opacity: 0;
    image-rendering: pixelated;
}

.pokedexContent{
    background-color: rgba(174, 202, 255, 0.75);
    border-radius: 5%;
    padding: 20px;
    margin: 2rem;
    opacity: 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar {
    height: 35px;
    padding: 15px;
    font-family: "Fira Sans", sans-serif;
    font-size: 15pt;
    margin: 1rem;
}

#btn {
    max-width: 75px;
}